@model fleet_tracker.Models.Route

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Route</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Group.Name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Group.Name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Origin)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Origin)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.OriginLat)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.OriginLat)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.OriginLong)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.OriginLong)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Destination)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Destination)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DestinationLat)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DestinationLat)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DestinationLong)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DestinationLong)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
