<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="author" content="0xDEADC0DE">

    <title>@ViewBag.Title - fleet-tracker</title>

    <link rel="apple-touch-icon" href="../assets/images/apple-touch-icon.png">
    <link rel="shortcut icon" href="../assets/images/favicon.ico">

    @Styles.Render("~/bundles/core-styles-css")
    @Styles.Render("~/bundles/core-fonts-css")
    @Styles.Render("~/bundles/roboto-font-css")

    @Scripts.Render("~/bundles/header-scripts")

    <script>
        Breakpoints();
    </script>

    <script type="text/javascript">
        var appInsights=window.appInsights||function(config){
            function r(config){t[config]=function(){var i=arguments;t.queue.push(function(){t[config].apply(t,i)})}}var t={config:config},u=document,e=window,o="script",s=u.createElement(o),i,f;for(s.src=config.url||"//az416426.vo.msecnd.net/scripts/a/ai.0.js",u.getElementsByTagName(o)[0].parentNode.appendChild(s),t.cookie=u.cookie,t.queue=[],i=["Event","Exception","Metric","PageView","Trace"];i.length;)r("track"+i.pop());return r("setAuthenticatedUserContext"),r("clearAuthenticatedUserContext"),config.disableExceptionTracking||(i="onerror",r("_"+i),f=e[i],e[i]=function(config,r,u,e,o){var s=f&&f(config,r,u,e,o);return s!==!0&&t["_"+i](config,r,u,e,o),s}),t
        }({
            instrumentationKey:"79f34cd4-f848-4b6f-9e2e-ad9cb7162aa7"
        });
        
        window.appInsights=appInsights;
        appInsights.trackPageView();
    </script>
</head>
<body class="dashboard">
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <nav class="site-navbar navbar navbar-default navbar-fixed-top navbar-mega" role="navigation">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle hamburger hamburger-close navbar-toggle-left hided"
                    data-toggle="menubar">
                <span class="sr-only">Toggle navigation</span>
                <span class="hamburger-bar"></span>
            </button>
            <button type="button" class="navbar-toggle collapsed" data-target="#site-navbar-collapse"
                    data-toggle="collapse">
                <i class="icon wb-more-horizontal" aria-hidden="true"></i>
            </button>
            <button type="button" class="navbar-toggle collapsed" data-target="#site-navbar-search"
                    data-toggle="collapse">
                <span class="sr-only">Toggle Search</span>
                <i class="icon wb-search" aria-hidden="true"></i>
            </button>
            <div class="navbar-brand navbar-brand-center site-gridmenu-toggle" data-toggle="gridmenu">
                <img class="navbar-brand-logo" src="../assets/images/logo.png" title="Remark">
            </div>
        </div>

        <div class="navbar-container container-fluid">
            <!-- Navbar Collapse -->
            <div class="collapse navbar-collapse navbar-collapse-toolbar" id="site-navbar-collapse">
                <!-- Navbar Toolbar -->
                <ul class="nav navbar-toolbar">
                    <li class="hidden-float" id="toggleMenubar">
                        <a data-toggle="menubar" href="#" role="button">
                            <i class="icon hamburger hamburger-arrow-left">
                                <span class="sr-only">Toggle menubar</span>
                                <span class="hamburger-bar"></span>
                            </i>
                        </a>
                    </li>

                </ul>
                <!-- End Navbar Toolbar -->
                <!-- Navbar Toolbar Right -->
                <ul class="nav navbar-toolbar navbar-right navbar-toolbar-right">

                    <li class="dropdown">
                        <a data-toggle="dropdown" href="javascript:void(0)" title="Notifications" aria-expanded="false"
                           data-animation="slide-bottom" role="button">
                            <i class="icon wb-bell" aria-hidden="true"></i>
                            <span class="badge badge-danger up">5</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right dropdown-menu-media" role="menu">
                            <li class="dropdown-menu-header" role="presentation">
                                <h5>NOTIFICATIONS</h5>
                                <span class="label label-round label-danger">New 5</span>
                            </li>

                            <li class="list-group" role="presentation">
                                <div data-role="container">
                                    <div data-role="content">
                                        <a class="list-group-item" href="javascript:void(0)" role="menuitem">
                                            <div class="media">
                                                <div class="media-left padding-right-10">
                                                    <i class="icon wb-order bg-red-600 white icon-circle" aria-hidden="true"></i>
                                                </div>
                                                <div class="media-body">
                                                    <h6 class="media-heading">A new order has been placed</h6>
                                                    <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">5 hours ago</time>
                                                </div>
                                            </div>
                                        </a>
                                        <a class="list-group-item" href="javascript:void(0)" role="menuitem">
                                            <div class="media">
                                                <div class="media-left padding-right-10">
                                                    <i class="icon wb-user bg-green-600 white icon-circle" aria-hidden="true"></i>
                                                </div>
                                                <div class="media-body">
                                                    <h6 class="media-heading">Completed the task</h6>
                                                    <time class="media-meta" datetime="2015-06-11T18:29:20+08:00">2 days ago</time>
                                                </div>
                                            </div>
                                        </a>
                                        <a class="list-group-item" href="javascript:void(0)" role="menuitem">
                                            <div class="media">
                                                <div class="media-left padding-right-10">
                                                    <i class="icon wb-settings bg-red-600 white icon-circle" aria-hidden="true"></i>
                                                </div>
                                                <div class="media-body">
                                                    <h6 class="media-heading">Settings updated</h6>
                                                    <time class="media-meta" datetime="2015-06-11T14:05:00+08:00">2 days ago</time>
                                                </div>
                                            </div>
                                        </a>
                                        <a class="list-group-item" href="javascript:void(0)" role="menuitem">
                                            <div class="media">
                                                <div class="media-left padding-right-10">
                                                    <i class="icon wb-calendar bg-blue-600 white icon-circle" aria-hidden="true"></i>
                                                </div>
                                                <div class="media-body">
                                                    <h6 class="media-heading">Event started</h6>
                                                    <time class="media-meta" datetime="2015-06-10T13:50:18+08:00">3 days ago</time>
                                                </div>
                                            </div>
                                        </a>
                                        <a class="list-group-item" href="javascript:void(0)" role="menuitem">
                                            <div class="media">
                                                <div class="media-left padding-right-10">
                                                    <i class="icon wb-chat bg-orange-600 white icon-circle" aria-hidden="true"></i>
                                                </div>
                                                <div class="media-body">
                                                    <h6 class="media-heading">Message received</h6>
                                                    <time class="media-meta" datetime="2015-06-10T12:34:48+08:00">3 days ago</time>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </li>
                            <li class="dropdown-menu-footer" role="presentation">
                                <a class="dropdown-menu-footer-btn" href="javascript:void(0)" role="button">
                                    <i class="icon wb-settings" aria-hidden="true"></i>
                                </a>
                                <a href="javascript:void(0)" role="menuitem">
                                    All notifications
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <!-- End Navbar Toolbar Right -->
            </div>
            <!-- End Navbar Collapse -->
            <!-- Site Navbar Seach -->
            <div class="collapse navbar-search-overlap" id="site-navbar-search">
                <form role="search">
                    <div class="form-group">
                        <div class="input-search">
                            <i class="input-search-icon wb-search" aria-hidden="true"></i>
                            <input type="text" class="form-control" name="site-search" placeholder="Search...">
                            <button type="button" class="input-search-close icon wb-close" data-target="#site-navbar-search"
                                    data-toggle="collapse" aria-label="Close"></button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- End Site Navbar Seach -->
        </div>
    </nav>
    <div class="site-menubar">
        <div class="site-menubar-body">
            <div>
                <div>
                    <ul class="site-menu">
                        <li class="site-menu-category">General</li>

                        <li class="site-menu-item @Html.IsSelected(actions: "Index", controllers: "Home")">
                            <a href='@Url.Action("Index","Home")' data-slug="dashboard">
                                <i class="site-menu-icon wb-home" aria-hidden="true"></i>
                                <span class="site-menu-title">Home</span>
                            </a>
                        </li>

                        <li class="site-menu-item @Html.IsSelected(actions: "About", controllers: "Home")">
                            <a href='@Url.Action("About","Home")' data-slug="dashboard">
                                <span class="site-menu-title">About</span>
                            </a>
                        </li>

                        <li class="site-menu-item @Html.IsSelected(actions: "Contact", controllers: "Home")">
                            <a href='@Url.Action("Contact","Home")' data-slug="dashboard">
                                <span class="site-menu-title">Contact</span>
                            </a>
                        </li>

                        <li class="site-menu-item">
                            <a href="javascript:void(0)" data-slug="dashboard">
                                <i class="site-menu-icon wb-list" aria-hidden="true"></i>
                                <span class="site-menu-title">Vehicles</span>
                            </a>
                        </li>

                        <li class="site-menu-item">
                            <a href="javascript:void(0)" data-slug="dashboard">
                                <i class="site-menu-icon wb-user" aria-hidden="true"></i>
                                <span class="site-menu-title">Drivers</span>
                            </a>
                        </li>

                        <li class="site-menu-item">
                            <a href="javascript:void(0)" data-slug="dashboard">
                                <i class="site-menu-icon wb-map" aria-hidden="true"></i>
                                <span class="site-menu-title">Routes</span>
                            </a>
                        </li>


                        <li class="site-menu-item">
                            <a href="javascript:void(0)" data-slug="dashboard">
                                <i class="site-menu-icon wb-table" aria-hidden="true"></i>
                                <span class="site-menu-title">Invoices</span>
                            </a>
                        </li>


                        <li class="site-menu-item">
                            <a href="javascript:void(0)" data-slug="dashboard">
                                <i class="site-menu-icon wb-globe" aria-hidden="true"></i>
                                <span class="site-menu-title">Map</span>
                            </a>
                        </li>


                        <li class="site-menu-item">
                            <a href="javascript:void(0)" data-slug="dashboard">
                                <i class="site-menu-icon wb-stats-bars" aria-hidden="true"></i>
                                <span class="site-menu-title">Stats</span>
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>

        <div class="site-menubar-footer">
            <a href="javascript: void(0);" class="fold-show" data-placement="top" data-toggle="tooltip"
               data-original-title="Settings">
                <span class="icon wb-settings" aria-hidden="true"></span>
            </a>
            <a href="javascript: void(0);" data-placement="top" data-toggle="tooltip" data-original-title="Logout">
                <span class="icon wb-power" aria-hidden="true"></span>
            </a>
        </div>
    </div>
    <div class="site-gridmenu">
        <ul>
            <li>
                <a href="apps/mailbox/mailbox.html">
                    <i class="icon wb-envelope"></i>
                    <span>Mailbox</span>
                </a>
            </li>
            <li>
                <a href="apps/calendar/calendar.html">
                    <i class="icon wb-calendar"></i>
                    <span>Calendar</span>
                </a>
            </li>
            <li>
                <a href="apps/contacts/contacts.html">
                    <i class="icon wb-user"></i>
                    <span>Contacts</span>
                </a>
            </li>
            <li>
                <a href="apps/media/overview.html">
                    <i class="icon wb-camera"></i>
                    <span>Media</span>
                </a>
            </li>
            <li>
                <a href="apps/documents/categories.html">
                    <i class="icon wb-order"></i>
                    <span>Documents</span>
                </a>
            </li>
            <li>
                <a href="apps/projects/projects.html">
                    <i class="icon wb-image"></i>
                    <span>Project</span>
                </a>
            </li>
            <li>
                <a href="apps/forum/forum.html">
                    <i class="icon wb-chat-group"></i>
                    <span>Forum</span>
                </a>
            </li>
            <li>
                <a href="index.html">
                    <i class="icon wb-dashboard"></i>
                    <span>Dashboard</span>
                </a>
            </li>
        </ul>
    </div>


    <div class="page">
        <div class="page-content padding-30 container-fluid">
            <div class="row" data-plugin="matchHeight" data-by-row="true">
                @RenderBody()
            </div>
        </div>
    </div>

    <footer class="site-footer">
        <span class="site-footer-legal">© 2016 0xdeadc0de</span>
        <div class="site-footer-right">
            Parić M., Polić M., Popović A., Ramić B.
        </div>
    </footer>

    @Scripts.Render("~/bundles/core-scripts")
    @Scripts.Render("~/bundles/plugin-scripts")
    @Scripts.Render("~/bundles/googlemapsapi-scripts")
    @Scripts.Render("~/bundles/page-scripts")

    <script>
        $(document).ready(function($) {
            Site.run();
        });
    </script>

    @RenderSection("scripts", required: false)
</body>
</html>
